<div class="container">
    <div class="container col-12">
        <div class="row">
            <span>
                <h4> {{title}} </h4>
            </span>
        </div>
        <form class="text-center" [formGroup]="cursoFG">
            <div class="row" >
                <div class="col-12 ">
                    <mat-form-field class="col-4 ">
                        <mat-label>Nombre del profesor asignado</mat-label>
                        <input type="text" matInput formControlName="profesorAsignado" [errorStateMatcher]="matcher"
                            placeholder="Ejemplo. Raymundo Mayen Ortiz" class="form-control"> 
                        <mat-error *ngIf="profesorAsignado.hasError('profesorAsignado') && !profesorAsignado.hasError('required')">
                            Por favor ingrese un nombre
                        </mat-error>
                        <mat-error *ngIf="profesorAsignado.hasError('required')">
                            El nombre es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-4 ">
                        <mat-label>Nombre del curso</mat-label>
                        <input type="text" matInput formControlName="nombreCurso" [errorStateMatcher]="matcher"
                            placeholder="Ejemplo. Spring framework" class="form-control">
                        <mat-error *ngIf="nombreCurso.hasError('nombreCurso') && !nombreCurso.hasError('required')">
                            Por favor ingrese un nombre
                        </mat-error>
                        <mat-error *ngIf="nombreCurso.hasError('required')">
                            Apellido paterno es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>            
            <div class="row" >
                <div class="col-12 ">
                    <mat-form-field class="col-4">
                        <mat-label>Id Curso</mat-label>
                        <input type="text" matInput formControlName="id" [errorStateMatcher]="matcher"
                            placeholder="Abc00101" class="form-control">
                        <mat-error *ngIf="id.hasError('required')">
                            Id curso es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    
                </div>
            </div>
            
            <div class="example-button-row">
                <button type="button" mat-raised-button (click)="edit ? updateRegistro() : guardarRegistro()" [disabled]="cursoFG.invalid">Guardar</button>
                <button type="button" mat-raised-button color="warn" [routerLink]="['/cursos/lista']">Cancelar</button>
              </div>
        </form>
    </div>
</div>
